<h1><%= @book.title %></h1>
<p><%= @book.description %></p>
<h4><%= @book.author %></h4>
<h5><%= @book.user.email %></h5>

<%= link_to 'Back', root_path %>

<% if user_signed_in? && (current_user.id == @book.user_id) %>
  <%= link_to 'Edit', edit_book_path(@book) %>
  <%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: "Are you sure you want to delete the book?" } %>
<% end %>
