<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.image.url(:book_show), class: "book-show" %>
  </div>
  <div class="col-md-8">
    <h1><%= @book.title %></h1>
    <p><%= simple_format(@book.description) %></p>
    <h4><%= @book.author %></h4>
    <h5><%= @book.user.email %></h5>
  </div>
</div>

<div class="row">
  <div class="col-md-4">

    <% if @reviews.blank? %>
      <h4>No reviews just yet, would you like to add the first?</h4>
    <% else %>
      <% @reviews.each do |review| %>
        <div class="reviews">
          <div class="star-rating" data-score=<%= review.rating %> ></div>
          <p><%= review.comment %></p>
          <p><%= time_ago_in_words(review.created_at) %></p>
            <% if user_signed_in? && (current_user.id == review.user_id) %>
              <%= link_to 'Edit', edit_book_review_path(review.book, review) %>
              <%= link_to 'Delete', book_review_path(review.book, review), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
        </div>
      <% end %>
    <% end %>

    <div>
      <%= link_to 'Add Review', new_book_review_path(@book) %>
    </div>

  </div>
</div>
<%= link_to 'Back', root_path %>

<% if user_signed_in? && (current_user.id == @book.user_id) %>
  <%= link_to 'Edit', edit_book_path(@book) %>
  <%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: "Are you sure you want to delete the book?" } %>
<% end %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
